.titulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.crear-sala {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 6px 12px;
  border: none;
  background-color: #5a189a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3c096c;
}

.salas-lista {
  max-width: 600px;
  margin: 0 auto;
}

.sala-card {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
