<div class="page-404">
  <div class="side left"></div>

  <main class="main-content">
    <h1 class="error-title">ERROR 404</h1>
    <img src="../../assets/imagenes/chocobo-sit.gif" alt="Miguelito dormido" class="chocobo-img"/>
    <p class="error-message">
      Miguelito, nuestro fiel chocobo explorador, se cansó de buscar esa dirección y se quedó dormido. <br />
      Quizás la ruta estaba en otra taberna o se la comió un mimetismo.
    </p>
    <a href="/" class="return-btn">Volver al inicio</a>
  </main>

  <div class="side right"></div>
</div>
