<div class="home-container">
  <div class="welcome-box">
    <h1>¡Bienvenido, aventurero!</h1>
    <p>
      Has llegado al entorno virtual de <strong>D-DM</strong>, un lugar donde las historias nacen, los personajes cobran vida y las aventuras están por comenzar.
    </p>
    <p>
      Aquí podrás crear y gestionar tus personajes de rol de mesa de forma sencilla, inmersiva y divertida.
    </p>
    <p class="info">
      🛠️ Esta página aún está en construcción. Pronto llegarán nuevas razas, objetos mágicos, clases, conjuros... ¡y más sorpresas para tu campaña!
    </p>
    <p class="signature">
      Que los dados te sean propicios...
    </p>

    <div class="link-buttons">
      <a routerLink="/razas" id="razas" class="home-btn">a<span>Razas</span></a>
      <a routerLink="/objetos" id="objetos" class="home-btn"><span>Objetos</span></a>
      <a routerLink="/clases" id="clases" class="home-btn"><span>Clases</span></a>
      <a routerLink="/conjuros" id="conjuros" class="home-btn"><span>Conjuros</span></a>
    </div>
  </div>
</div>

